<div class='content' fxLayout="column" fxLayoutAlign="center center">
  <div class="welcome-text">{{welcomeText}}</div>
  <div>
    <div class="down_chevron">⌄</div>
    <a class="bottom-button" href="https://mega.nz/megadrop/H1UvW1JOTtM" mat-raised-button>לינק להעלת קבצים</a>
  </div>
</div>
