.content {
  width: 100vw;
  overflow: hidden;
  height: 91.4vh;
  &::after {
    content: "";
    background: url(src/assets/images/home.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    position: absolute;
    z-index: -1;
  }
  .welcome-text {
    color: white;
    text-align: center;
    margin: auto;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 5vw;
  }
  .bottom-button{
    margin: 1rem;
    box-shadow: 0 1px 5px #cdcfd8;
    /* background: #d0cfd6; */
    color: #128488;
    font-weight: 500;
    font-size: 17px;
  }
}

