.header_content{
  min-height: 2rem;
  width: 100%;
  padding: .5rem 1rem;
  background: #e53935; /* fallback for old browsers */
  background: linear-gradient(to right,#1f71d6,#009e1b);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0 1px 20px 0px #000000b3;
}
.icon-home{
  margin-bottom: 3px;
  color:white;
}
