<div fxLayout="row" class="header_content" class.mat-elevation-z2 fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutGap="8px" dir="rtl" fxLayoutAlign="center center">
    <ng-container *ngIf="(screenSize$ | async).width < 610">
      <button mat-mini-fab (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="(screenSize$ | async).width > 610">
      <button mat-mini-fab style="background: #4a4a4a;" fxFlexAlign="start">
        <mat-icon (click)="navigate_to('/')" class="icon-home">home</mat-icon>
      </button>
      <div *ngFor="let link of links">
        <app-header-link [text]="link.text" (linkClick)="navigate_to($event)" [link]="link.value"></app-header-link>
      </div>
    </ng-container>
  </div>
</div>
