.content{
  overflow: hidden;
  max-height: 100%;
  .router-outlet{
    padding:1rem;
    max-height: 100%;
    overflow-y: auto;
  }
}
::ng-deep .mat-sidenav-container{
  height: 100%;
}
mat-sidenav{
  background: #d68a8915; /* fallback for old browsers */
  background: white; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ::ng-deep .mat-drawer-inner-container{
    flex-direction: column;
  }
}
a{
  font-size: 1.5rem;
}
