<mat-sidenav-container dir="rtl">
  <mat-sidenav #sidenav class="sidenav" mode="side" dir="rtl" >
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
      <!--this is a place for us to add side-nav code-->
      <div style="font-weight: bolder;font-size: x-large;min-height: 3.2rem;" fxLayoutAlign="center center">CS 2020</div>
      <div *ngFor="let link of links">
        <a mat-button (click)="navigate_to(link.value)">{{link.text}}</a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" fxLayout="column" fxLayoutAlign="start center">
      <app-horizontal-header fxFlex="15%" [sidenav]="sidenav" style="width:100%"></app-horizontal-header>
      <div class="router-outlet">
      <router-outlet style="width:100%"></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
