<mat-expansion-panel>
  <mat-expansion-panel-header style="color: #497cbb;">
    {{folderName}}
  </mat-expansion-panel-header>
  <div fxLayout="row wrap" fxLayoutGap="8px">
    <div style="min-height: 2.7rem;min-width: 95%;max-width: 95%;" *ngFor="let item of foldersJson | keyvalue">
      <ng-container *ngIf="!!item.value.link">
        <a mat-raised-button [href]="item.value.link">{{item.value.name}}</a>
      </ng-container>
      <ng-container *ngIf="!item.value.link">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2rem" style="min-height: 3.7rem;">
          <mat-accordion style="min-width: 100%;">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                {{item.key === 'SEMESTER_A'?"סמסטר א'":"סמסטר ב'"}}
              </mat-expansion-panel-header>
              <a *ngFor="let itemChild of (item.value | keyvalue)" mat-raised-button
                [href]="itemChild.value.link" class="item-child">{{itemChild.value.name}}</a>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </ng-container>
    </div>
  </div>
</mat-expansion-panel>
