/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  font-family: Assistant;
  direction: rtl;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.mat-expansion-panel-header-title{
  text-align: center !important;
}

.down_chevron{
  text-align: center;
  max-height: 20px;
  pointer-events: none;
  font-size: 30px;
  color: white;
  text-shadow: 0px 2px 5px #000000;
  animation: jumpy_chevron .6s infinite;
  transition: transform ease-in-out;
}


@keyframes jumpy_chevron {
  0% {
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.mat-expansion-panel-header, .mat-expansion-panel {
  &:last-of-type {
    border-radius: 0 !important;
  }
  &:first-of-type {
    border-radius: 0 !important;;
  }
}
